.contentContainer {
  max-width: 1120px;
  margin: 2rem auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 710px) {
    flex-direction: column;
  
    > div {
      width: 100%;
    }
  }
}

.hero {
  max-width: 600px;

  > span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--cyan-500);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;

    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }

  button {
    margin-top: 2.5rem;
  }

  @media (max-width: 1450px) {
    h1 {
      font-size: 3.5rem;
    }
  }
  @media (max-width: 1000px) {
    h1 {
      font-size: 2.5rem;
    }
  }
  @media (max-width: 800px) {
    p {
      font-size: 1.2rem;
    }
  }
}

.img {
  width: 25rem;
  margin-top: 2rem;
}

@media (max-width: 1450px) {
  .img {
    width: 20rem;
    // flex: 1;
  }
}

@media (max-width: 1000px) {
  .img {
    width: 15rem;
  }
}
